* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --wrapper-width-mobile-tablet: min(50rem, 100%);
  --wrapper-padding-mobile-tablet: 2.4rem;

  --hue: 200;

  --primary-color: hsl(var(--hue), 100%, 26%);
  --headline: hsl(210, 11%, 15%);
  --paragraph: hsl(210, 9%, 31%);

  --brand-beige: hsl(calc(var(--hue) - 131), 100%, 97%);
  --brand-light: hsl(calc(var(--hue) - 22), 23%, 89%);
  --brand-light-2: hsl(calc(var(--hue) + 10), 14%, 97%);
  --brand-dark: hsl(var(--hue), 100%, 14%);

  --bg-light: hsl(calc(var(--hue) + 10), 14%, 97%);

  --bg-transparent: hsl(0, 0%, 98%);

  font-size: 62.5%; /* 1rem = 10px */

  --nav-height: 7.2rem;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.6rem;
  text-align: center;

  background: var(--bg-light);
}

ul {
  list-style: none;
}

.social-links {
  display: flex;

  align-content: center;
  justify-content: center;
  gap: 3.2rem;
}

.social-links svg.linkedin-logo path {
  fill: white;
}

.social-links svg.upwork-logo path {
  fill: white;
}

.social-links svg.upwork-logo {
  width: 24px;
  height: 24px;
}

.social-links svg.telegram-logo {
  width: 24px;
  height: 24px;
}

.social-links svg.telegram-logo path {
  fill: white;
}

section {
  padding-block: 10rem;
}

.wrapper {
  width: var(--wrapper-width-mobile-tablet);
  margin-inline: auto;

  padding-inline: var(--wrapper-padding-mobile-tablet);
}

section header h4 {
  margin-bottom: 1.6rem;

  font-size: 1.4rem;
  line-height: 150%;
  letter-spacing: 0.08rem;

  text-transform: uppercase;

  color: var(--primary-color);
}

section header h1 {
  margin-bottom: 2.4rem;

  font-size: 3.4rem;
  line-height: 130%;

  color: var(--headline);
}

section header h2 {
  font-size: 3rem;
  line-height: 3.9rem;

  color: var(--headline);
}

section .content p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;

  color: var(--paragraph);
}

section img {
  width: 100%;
}

section .button {
  background: var(--primary-color);

  transition: background 0.2s;

  border: none;
  border-radius: 4rem;

  margin: 0 auto 6rem;

  padding: 1.6rem 3.2rem;
  width: fit-content;

  color: white;

  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  text-decoration: none;
}

section .button:hover {
  background: var(--brand-dark);
  transition: background 0.2s;
}

/* custom colors */
#services .card circle {
  fill: var(--brand-light);
}

button.open-menu path,
#contact li path {
  stroke: var(--primary-color);
}

#backToTopButton circle {
  fill: var(--primary-color);
}

#navigation.scroll button.open-menu path {
  fill: white;
}

body.menu-expanded #navigation .logo {
  color: white;
}

nav.scroll button path {
  stroke: white;
}
/*=== NAVIGATION =======================+*/
nav {
  display: flex;

  height: var(--nav-height);

  position: fixed;
  top: 0;
  width: 100vw;

  z-index: 100;
}

nav .logo {
  text-decoration: none;
  color: var(--primary-color);

  font-size: 2.4rem;
}

nav.scroll {
  background: var(--primary-color);
}

nav.scroll h2 .logo {
  color: white;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

nav .menu,
nav .close-menu {
  position: fixed;
}

/*=== MENU-EXPANDED =======================*/
body.menu-expanded {
  overflow: overlay;
}

body.menu-expanded > :not(nav) {
  visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  transform: translateY(100%);
}

body.menu-expanded .menu {
  top: 0;
  left: 0;
  background: var(--primary-color);

  width: 100vw;
  height: 100vh;

  padding-top: var(--nav-height);

  transition: transform 300ms;
  transform: translateY(0);

  overflow: overlay;
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  margin-top: 6rem;

  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.menu ul li a {
  text-decoration: none;
  color: var(--brand-beige);
}

.menu .button {
  background: white;
  border-radius: 4rem;

  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  text-decoration: none;

  color: var(--primary-color);

  display: inline-block;
  padding: 16px 32px;

  margin-top: 4.8rem;
  margin-bottom: 8rem;
}

body.menu-expanded .button {
  transition: 0.2s;
}

.menu .button:hover {
  background: var(--primary-color);
  color: white;

  filter: brightness(1.3);

  transition: background 0.2s;
  transition: color 0.2s;
}

body.menu-expanded .logo,
body.menu-expanded nav button {
  position: relative;
  z-index: 10;
}

/*=== HOME ============================*/
#home {
  padding-block: 0;
  padding-top: calc(4.1rem + var(--nav-height));
}

#home::before {
  content: '';
  width: 100%;
  height: calc(80% + var(--nav-height));
  background-color: var(--brand-light);
  display: block;

  position: absolute;
  top: 0;
  left: 0;

  z-index: -1;
}

#home p {
  font-size: 1.8rem;
  margin-bottom: 3.2rem;
}

#home img {
  width: 100%;
  display: block;
  margin-inline: auto;
  border-radius: 0.6rem 0.6rem 0 0;
}

#home .stats {
  width: 100%;

  padding-block: 4rem;

  margin-inline: auto;

  border-radius: 0 0 0.6rem 0.6rem;

  background: var(--brand-beige);

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
}

#home .stat h3 {
  color: var(--headline);
  font-size: 4.8rem;
  line-height: 130%;
  margin-bottom: 0.4rem;
}

#home .stat p {
  margin: 0;

  color: var(--primary-color);
}

/*=== SERVICES =======================*/
#services {
  background: var(--bg-light);
}

#services header h2 {
  font-size: 3rem;
  line-height: 3.9rem;

  margin-bottom: 6rem;
}

#services .cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

#services .card {
  padding: 2.4rem;
  text-align: left;

  background: white;

  border: 1px solid var(--brand-light);
  border-radius: 0.6rem;
}

#services .card h3 {
  margin-block: 1.6rem;

  font-size: 2.4rem;
  line-height: 3.1rem;

  color: var(--headline);
}

#services .card circle {
  fill: var(--brand-light);
}

#services .card svg path {
  stroke: var(--primary-color);
}

/*=== TESTIMONIALS ==========================================*/
#testimonials {
  background: white;
}

#testimonials header h2 {
  margin-bottom: 6.4rem;
}

#testimonials .carousel {
  display: flex;
  flex-direction: column;

  gap: 0;

  margin-bottom: 4.9rem;
}

#testimonials .carousel .carousel-card {
  visibility: hidden;

  padding: 0;

  height: 0;
  width: 0;

  opacity: 0;

  text-align: start;

  background: var(--brand-beige);
}

#testimonials .carousel .carousel-card svg {
  margin-bottom: 2rem;
}

#testimonials .carousel .carousel-card svg path {
  fill: var(--primary-color);
}

#testimonials .carousel .carousel-card p {
  margin-bottom: 2rem;
}

#testimonials .carousel .carousel-card .testimonials-card-author {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

#testimonials .carousel .carousel-card .testimonials-card-author img {
  width: 4.2rem;
  height: auto;

  border-radius: 50%;
}

#testimonials .carousel .carousel-card .testimonials-card-author p {
  font-weight: 700;
  line-height: 2.8rem;
  color: var(--primary-color);
  margin: 0;

}

#testimonials .carousel .carousel-card .testimonials-card-author svg#mgid-logo {
  width: 4.2rem;
}

#testimonials
  .carousel
  .carousel-card
  .testimonials-card-author
  svg#mgid-logo
  path {
  fill: var(--primary-color);
}

#testimonials .carousel .carousel-card .testimonials-card-author svg#mgid-logo {
  margin-bottom: 0;
}

.carousel-selector .carousel-selector-dot {
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 0.2rem;
  background-color: var(--brand-light);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

#testimonials .carousel-selector .carousel-selector-dot:hover {
  background-color: var(--primary-color);
}

#testimonials .carousel .carousel-card.carousel-card-active {
  visibility: visible;

  width: var(--wrapper-width-mobile-tablet);

  height: 100%;

  opacity: 1;

  padding: 3.2rem;
  border-radius: 0.4rem;

  transition: opacity 1s;
}

#testimonials .carousel-selector-dot.carousel-active {
  background-color: var(--primary-color);
}

#testimonials .carousel-selector {
  margin-bottom: 10rem;
}

#testimonials .businesses h3 {
  font-size: 2.4rem;
  line-height: 3.1rem;
  margin-bottom: 4.8rem;
}

#testimonials .businesses .businesses-logos {
  display: flex;
  flex-direction: column;
  gap: 9.9rem;
  justify-content: space-evenly;
  align-items: center;

  margin-bottom: 10rem;
}

#testimonials .businesses .businesses-logos a,
#testimonials .businesses .businesses-logos a img {
  border-radius: 1rem;

  display: block;
}

#testimonials .businesses .businesses-logos a img {
  transition: opacity 0.3s;

  box-shadow: 0.1rem 0.5rem 1rem var(--primary-color);
}

#testimonials .businesses .businesses-logos a {
  background: var(--primary-color);
}

#testimonials .businesses .businesses-logos a:hover img {
  opacity: 0.4;

  transition: opacity 0.3s;
}

/*=== CONTACT BANNER ==================================*/
.contact-banner {
  background: var(--brand-light-2);
  padding-block: 0;
}

.contact-banner .wrapper {
  background: var(--primary-color);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 6rem;
  height: 150%;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
}

.contact-banner .wrapper h2 {
  color: white;

  font-weight: 700;
  font-size: 4rem;
  line-height: 5.2rem;

  margin-bottom: 3.2rem;
}

.contact-banner .wrapper a {
  background: white;

  border: none;
  border-radius: 4rem;

  padding: 1.6rem 3.2rem;
  width: fit-content;

  color: var(--primary-color);

  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  text-decoration: none;

  transition: 0.4s;
}

.contact-banner .wrapper a svg path {
  fill: var(--primary-color);
}

.contact-banner .wrapper a:hover {
  background-color: var(--primary-color);
  filter: brightness(1.3);
  border: none;
  transition: background-color 0.4s;
  color: white;
}

.contact-banner .wrapper a:hover svg path {
  fill: white;
}
/*=== ABOUT ==================================*/
#about {
  text-align: left;
  background: var(--brand-beige);
}

#about header h2 {
  margin-bottom: 2.4rem;
}

#about .content p {
  margin-top: 2.4rem;
  margin-bottom: 6rem;
}

#about .content p a {
  text-decoration: none;

  color: var(--primary-color);

  transition: .2s;
}

#about .content p a:hover {
  color: var(--paragraph);

  transition: .2s;
}

#about .content p a[tabindex]:focus {
  color: var(--paragraph);

  transition: .2s;

  text-decoration: underline;
}

#about img {
  border-radius: 1rem;
}

/*=== CONTACT ==================================*/
#contact {
  text-align: left;
}

#contact h2 {
  margin-bottom: 3.2rem;
}

#contact ul {
  margin-block: 3.2rem;
}

#contact ul li {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  justify-content: start;

  margin-bottom: 1.6rem;
}

#contact ul li a {
  text-decoration: none;
  color: var(--primary-color);
}

#contact ul li a:hover {
  color: var(--paragraph);

  transition: color 0.4s;
}

#contact ul li a[tabindex]:focus {
  color: var(--paragraph);
}

#contact ul li svg {
  width: 24px;
  height: 24px;
}

#contact ul li svg path {
  stroke: var(--primary-color);
}

#contact ul li:nth-child(3) svg path {
  fill: var(--primary-color);
}

#contact .button {
  margin-inline: 0;
}

#contact img {
  border-radius: 1rem;
}

/*=== FOOTER ===================================*/
footer {
  background: var(--primary-color);
  color: white;

  padding-block: 6rem;

  text-align: left;
}

footer .logo {
  text-decoration: none;
  color: white;
}

footer .logo {
  display: inline-block;
  margin-bottom: 2.4rem;
}

footer p {
  color: var(--brand-beige);

  line-height: 2;

  margin-bottom: 3.2rem;
}

footer .social-links {
  justify-content: flex-start;
}

/* BACK TO TOP */
#backToTopButton {
  position: fixed;
  bottom: 1rem;
  right: 2.5rem;

  opacity: 0;
  visibility: hidden;

  transform: translateY(100%);
  transition: 200ms;
}

#backToTopButton.show {
  opacity: 1;
  visibility: visible;

  transform: translateY(0);
}

/*=== RESPONSIVE ==========================*/
@media (max-width: 500px) {
  /*=== TESTIMoNIALS =============*/
  #testimonials .carousel .carousel-card .testimonials-card-author {
    flex-direction: column;

    align-items: flex-start;

    text-align: start;
  }
}

@media (min-width: 1024px) {
  /*=== GERAL =============================*/

  body {
    overflow: auto;
  }

  .wrapper {
    margin-inline: auto;
    width: min(112rem, 100%);
    display: grid;
  }

  .col-a {
    grid-area: A;
  }

  .col-b {
    grid-area: B;
  }

  .col-c {
    grid-area: C;
  }

  section {
    padding-block: 16rem;
  }

  section header h2 {
    font-size: 4rem;
    line-height: 5.2rem;
  }

  /*=== NAVIGATION ========================*/

  /* reset */

  nav#navigation .wrapper * {
    margin: 0;
    padding: 0;
    visibility: initial;
    opacity: initial;
    flex-direction: initial;
    position: initial;
    font-size: initial;
    transform: initial;
    color: initial;
    background-color: initial;
    font-weight: initial;
    line-height: initial;
    filter: initial;
  }

  nav#navigation {
    width: 100%;
  }

  nav#navigation .close-menu,
  nav#navigation .open-menu,
  nav#navigation .social-links {
    display: none;
  }

  #navigation h2 a.logo {
    color: var(--primary-color);

    transition: color 0.2s;

    text-decoration: none;

    font-size: 2.4rem;
    font-weight: 700;
  }

  nav#navigation .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
  }

  nav#navigation .menu ul:nth-child(1) {
    display: flex;
    gap: 3.2rem;
  }

  nav#navigation .menu ul li a {
    line-height: 2.1rem;

    color: var(--primary-color);
    opacity: 0.7;
  }

  nav#navigation .menu a.button {
    padding: 1rem 2.4rem;

    border: 1px solid var(--primary-color);
    border-radius: 4rem;

    color: var(--primary-color);

    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-transform: uppercase;
  }

  nav#navigation .menu a.button:hover {
    background-color: var(--primary-color);
    color: white;
    border: none;
  }

  nav#navigation .menu ul li a:hover,
  nav#navigation .menu li.scroll a:hover,
  nav#navigation .menu li a.active {
    transition: opacity 0.4s;
    opacity: 1;
    font-weight: 700;
  }

  nav#navigation .menu li a:after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: var(--primary-color);
    display: block;
    position: relative;
    bottom: -2.5rem;
    left: -0.5rem;
  }

  nav#navigation.scroll .menu li a:after {
    background-color: white;

    transition: 0.4s;
  }

  nav#navigation.scroll h2 a.logo {
    color: white;

    transition: color 0.4s;
  }

  nav#navigation .menu li a:hover::after,
  nav#navigation .menu li a.active::after {
    padding-inline: 0.8rem;
    width: 100%;
    transition: width 0.2s;
  }

  nav#navigation.scroll .menu ul li a {
    color: var(--brand-light-2);
    opacity: 0.6;
  }

  nav#navigation.scroll .menu a.button {
    border-color: white;
    color: white;
  }

  nav#navigation.scroll .menu a.button:hover,
  nav#navigation.scroll .menu a.button.active {
    background-color: var(--primary-color);
    filter: brightness(1.3);
    border: none;
    transition: background-color 0.4s;
  }

  /*=== HOME =====================*/
  #home::before {
    height: calc(98% - var(--nav-height));
  }

  #home {
    padding-top: var(--nav-height);
  }

  #home .wrapper {
    margin-top: 4.6rem;
    grid-template-areas:
      'A A'
      'B C'
      'D D';
    /* grid-template-columns: 1fr 1fr; */
  }

  #home .col-a {
    text-align: left;
    align-self: center;
  }

  #home h1 {
    font-size: 5.2rem;
  }

  #home img {
    width: 54rem;
  }

  #home .col-b {
    text-align: left;

    padding-right: 5.1rem;
    padding-bottom: 8.4rem;
  }

  #home .col-c {
    align-self: end;
  }

  #home .stats {
    grid-area: D;
    flex-direction: row;
    padding: 6rem;
    gap: 0;

    border-radius: 0.6rem 0 0.6rem 0.6rem;
  }

  #home .stats .stat {
    flex: 1;
  }

  #home .stats .stat + .stat {
    border-left: 1px solid var(--primary-color);
  }

  #home .button {
    margin: 0;
  }

  /*=== SERVICES ===================*/

  #services header h2 {
    width: 47rem;
    margin-inline: auto;
    font-size: 4rem;
    line-height: 5.2rem;
  }

  #services .cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
  }

  #services .card {
    width: 30%;
  }

  /*=== TESTIMONIALS ======================*/
  #testimonials .carousel-selector-dot-hidden {
    display: none;
  }

  #testimonials .carousel .carousel-card.carousel-card-active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
  }

  #testimonials .carousel {
    flex-direction: row;

    align-items: stretch;
  }

  #testimonials .carousel .carousel-card-active:nth-child(1),
  #testimonials .carousel .carousel-card-active:nth-child(2),
  #testimonials .carousel .carousel-card-active:nth-child(3) {
    margin-right: 7.2rem;
  }

  #testimonials .businesses .businesses-logos {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
  }

  #testimonials .businesses .businesses-logos a {
    width: var(--wrapper-width-mobile-tablet);
  }

  /*=== CONTACT BANNER ================*/
aside.contact-banner {
  padding-block: 10rem;
}

  aside.contact-banner .wrapper {
    padding: 10rem;

    text-align: start;
    height: 100%;
    flex-direction: row;

    align-content: space-between;
  }

  aside.contact-banner .wrapper h2 {
    margin-bottom: 0;
  }

  aside.contact-banner .wrapper a {
    width: 26.7rem;
  }

  /*=== ABOUT ===================*/
  #about .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'B A';
    gap: 6.7rem;
  }

  #about .col-a {
    align-self: center;
  }

  #about .col-b {
    align-self: center;
  }

  #about .content p {
    margin-bottom: 0;
  }

  /*=== CONTACT =======================*/
  #contact .wrapper {
    grid-template-columns: 1fr 55rem;
    grid-template-areas:
      'A A'
      'B C';
    grid-template-rows: auto auto;
  }

  #contact h2 {
    text-align: start;

    width: 100%;

    margin-bottom: 4rem;
  }

  #contact .col-b {
    text-align: start;

    padding-right: 14.1rem;
  }

  #contact .col-b,
  #contact .col-c {
    justify-self: baseline;

    height: 100%;
  }

  #contact .col-b a {
    margin-bottom: 0;
  }

  #contact .col-c {
    align-self: end;
  }

  /*=== FOOTER ========================*/
  footer {
    padding-block: 8rem;
  }

  footer .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'A B';
  }

  footer .col-a {
    align-self: center;
  }

  footer p {
    margin-bottom: 0;
  }

  footer .col-b {
    align-self: center;
    justify-self: end;
  }
}
